* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
}

.container {
    display: flex;

    margin-top: 40px;
}

.container .logo {
    width: 60px;
    height: 60px;
}

.container .left h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;

    color: #0A3871;
}

.container .left .alerta span{
    color: #495057;
    opacity: 80%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.container .left button{
    all: unset;
    box-sizing: border-box;
    border-radius: 24px;
    width: 328px;
    height: 67px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container .left .criptografar {
    color: #FFF;
    background-color: #0A3871;
}

.container .left .descriptografar {
    color: #0A3871;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}

.container .right {
    width: 400px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

    background-color: #FFF;

    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
}

footer .mail img{
    width: 52px;
}